<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/pure-min.css">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header id="header">
            <div class="pure-g menu">
                <div class="pure-u-1-3">
                    <h1><a href="/">Libre</a></h1>
                </div>
            </div>
        </header>
        <section id="main">
            <div class="pure-g-r profile">
                <form class="pure-form" action="/profile" method="post">
                    <div class="pure-u-1-2">
                        <div>
                            <label for="username">Username: </label>
                            <input type="text" name="username" id="username" value="{{ user.username }}" />
                        </div>
                        <div>
                            <label for="fullname">Full name: </label>
                            <input type="text" name="fullname" id="fullname" value="{{ user.fullname }}" />
                        </div>
                    </div>
                    <div class="pure-u-1-2">

                    </div>
                    <input type="submit" value="Save" />
                </form>
            </div>
            <div class="pure-g-r profile">
                <div class="pure-u-1-3">
                    <h2>Friends</h2>
                    {% for friend in friends %}
                    <a href="/#/user/{{friend['username']}}">
                        <div class="user">
                            <div class="author-avatar"><img src="{{ friend['pic'] }}" /></div>
                            <div>{{ friend['fullname'] }}</div>
                            <div>@{{ friend['username'] }}</div>
                        </div>
                    </a>
                    {% end %}
                </div>
                <div class="pure-u-1-3">
                    <h2>Followers</h2>
                    {% for follower in followers %}
                    <a href="/#/user/{{ follower['username'] }}">
                        <div class="user">
                            <div class="author-avatar"><img src="{{ follower['pic'] }}" /></div>
                            <div>{{ follower['fullname'] }}</div>
                            <div>@{{ follower['username'] }}</div>
                        </div>
                    </a>
                    {% end %}
                </div>
                <div class="pure-u-1-3">
                    <h2>Following</h2>
                    {% for followee in followees %}
                    <a href="/#/user/{{ followee['username']}}">
                        <div class="user">
                            <div class="author-avatar"><img src="{{ followee['pic'] }}" /></div>
                            <div>{{ followee['fullname'] }}</div>
                            <div>@{{ followee['username'] }}</div>
                        </div>
                    </a>
                    {% end %}
                </div>
            </div>
        </section>
    </body>
</html>
