* {
    box-sizing: border-box;
}
body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: "Helvetica Neue",Arial,sans-serif;
}
body{
    background: #D0E9AF;
}
h1 {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}
h2 {
    color: #326342;
}
a, a:hover {
    color: #326342;
    text-decoration: none;
}
.menu a, .menu a:hover {
    color: #FFF;
}
.hidden {
    display: none;
}
#header {
    background: #326342;
    height: 40px;
    position: fixed;
    width: 100%;
    padding-top:5px;
}
.menu, .feeds {
    max-width: 900px;
    margin:0 auto;
}
.menu {
    color: #fff;
}
.login {
    text-align:right;
}
#main {
    padding-top: 45px;
}
.feed {
    width: 445px;
    margin: 0 auto;
}
.messages {
    background: #FFF;
    border: 1px solid #326342;
    border-radius: 5px;
    padding:10px;
}
textarea {
    width: 100%;
    margin-bottom: 5px;
}
.message {
    width: 423px;
    background: #FFF;
    border-bottom: 1px solid #92CC47;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    line-height: 20px;
}
.pure-button {
    font-size: 75%;
}
.pure-button-primary{
    background: #326342;
}
.post {
    text-align: right;
}
.author-avatar {
    float: left;
}
.author-avatar img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
.message-content {
    background: #FFF;
    float: right;
    width: 350px;
    margin-bottom:10px;
}
.author {
    margin-bottom: 10px;
}
.date {
    float: right;
    font-size: 0.7em;
}
.content {
    clear: right;
}
.message-actions {
    clear: both;
}
.like {
    text-align: left;
}
.liked a{
    color: #FF7373;
}
.comment {
    text-align: center;
    font-size: 12px;
}
.repost {
    text-align: right;
}

.author-header {
    max-width: 900px;
    margin: 20px auto;
    font-size: 2.6em;
}
.author-name {
    padding-left: 65px;
    font-weight: bold;
    color: #326342;
}
.new-message {
    width: 423px;
    margin: 0 auto;
}

.username {
    font-size: 0.7em;
}
